<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>chilling-N-chatting</title>

    <link rel="stylesheet" type = "text/css" href="../static/CSS/index.css"/>
    <link rel="stylesheet" type = "text/css" href="../static/CSS/sharedDesigns.css"/>
<link rel="stylesheet" type = "text/css" href="../static/CSS/chat.css"/>

    <h1 class ="static-intro">Welcome To CORONACHAT! IN THIS CHAT, YOU CAN EITHER JOIN AN EXISTING ROOM OR CREATE ONE!</h1>
</head>
<body class ="gif">
<div id = "bg-home"></div>
<form  action="/direct_to" method="get">
<div class ="container">
    <input class = "SEND" id = "create_btn"  type="submit" value="Create Room" name="CreateRoom"/>
    <input class = "SEND" id = "join_btn" type="submit"  value="Join Room" name="JoinRoom"/>
    </div>
</form>
</body>

<script type = "text/javascript" src = "../static/JS/css_in_js.js"></script>

</html>